.blog {
    margin: 20px;
  }

  .blogTitle {
    text-align: center;
    color: rgb(254, 226, 89);;
  }

  .blog-item {
    margin-bottom: 30px;
  }
  
  .blog-item h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .blog-item p {
    font-size: 16px;
  }
  
  .blogPostDivider {
    border-color: gold;
  }