.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
}

.githubButtonContainer {
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

.githubButton {
  border-radius: 4px;
  color: rgb(254, 226, 89);
  border: 3px solid rgb(161, 161, 161);
  padding: 1%;
}

.title {
  text-align: center;
  color: rgb(254, 226, 89);;
}

.slogan {
  text-align: center;
}

.buttonContainerTop,
.buttonContainerBottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 20px;
  align-self: center;
}

.linkButton {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  width: 48%; /* Adjust the percentage value as needed */
}

.buttonImage {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.buttonColor {
  color: rgb(254, 226, 89);
  /* I think it looks better without the this:
  border: 3px solid rgb(161, 161, 161); 
  But maybe it will be useful later*/
}

.aboutTitle {
  text-align: center;
  color: rgb(254, 226, 89);;
}

.aboutContent p {
  text-indent: 1em; /* This indents each pagraph of the about text */
}